In [1]:
import pandas as pd
import requests

In [6]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=943dc6acaaa1d9b5c10444b8f11dcfac&language=en-US&page=1')

In [9]:
data = response.json()['results']

In [11]:
df = pd.DataFrame(data)

In [12]:
df.head()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,63.825,/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg,1994-09-23,The Shawshank Redemption,False,8.7,21628
1,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",19.536,/2CAL2433ZeIihfX1Hb2139CX0pW.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.7,3688
2,False,/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",83.360,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.7,16106
3,False,/loRmRzQXZeqG78TqZuyvSlEQfZb.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,49.832,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-11-30,Schindler's List,False,8.6,12874
4,False,/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg,"[18, 80]",240,en,The Godfather: Part II,In the continuing saga of the Corleone crime f...,53.917,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather: Part II,False,8.6,9712

In [15]:
df = df[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]

In [16]:
df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,63.825,8.7,21628
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,19.536,8.7,3688
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,83.360,8.7,16106
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,49.832,8.6,12874
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,53.917,8.6,9712

In [55]:
df = pd.DataFrame()

In [62]:
# At the time of making this project there were 503 pages for top rated movies


for i in range(1,50):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=943dc6acaaa1d9b5c10444b8f11dcfac&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [63]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,63.825,8.7,21628
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,19.536,8.7,3688
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,83.360,8.7,16106
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,49.832,8.6,12874
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,53.917,8.6,9712
...,...,...,...,...,...,...,...
1195,244,King Kong,"Adventurous filmmaker, Carl Denham, sets out t...",1933-03-15,16.506,7.6,1106
1196,218,The Terminator,"In the post-apocalyptic future, reigning tyran...",1984-10-26,48.958,7.6,10546
1197,338729,The Beauty Inside,Woo-Jin changes into a different person when h...,2015-08-20,13.802,7.6,206
1198,433471,Lou,A Pixar short about a lost-and-found box and t...,2017-06-16,7.156,7.6,303
1199,306819,The Danish Girl,When Gerda Wegener asks her husband Einar to f...,2015-01-01,21.898,7.6,5204

In [64]:
df.to_csv('TMDB_data.csv')